.header {
	min-height: 260px;
	padding: 130px 0 84px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&__title {
		font-weight: 700;
		font-size: 40px;
		line-height: 58px;

		color: #ffffff;
		text-align: center;
	}
}
